<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Table</title>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body ng-app="app">
    <header>
        <div ng-controller="informationController" class="container">
            <div class="sms">
                <div class="btn__type">
                    <a href="phone.html">
                        <button class="sms__btn" type="submit">
                            SMS
                        </button>
                    </a>
                </div>
                <div class="gmail__table">
                    <table>
                        <tr>
                            <th class="th__id" >ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Gmail</th>
                            <th class="th__id" >Send</th>
                        </tr>
                        <tr ng-repeat="email in emails">
                            <td>{{email.id}}</td>
                            <td>{{email.firstName}}</td>
                            <td>{{email.lastName}}</td>
                            <td>{{email.phoneOrEmail}}</td>
                            <td>Send</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </header>
</body>
</html>