<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Send Telegram link</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="app">
<div ng-controller="infoController">
    <input ng-model="fname">
    <input ng-model="lname">
    <input ng-model="teloremail">
    <button ng-click="sendInformation(fname,lname,teloremail)"> Send a Form</button>
</div>
</body>

<script>
    var myApp = angular.module('app', []);

    myApp.controller("infoController", function ($scope, $http) {
        console.log("Controller initialized"); // Add this line
        $scope.sendInformation = function (fname,lname,teloremail) {
            console.log("Button clicked"); // Add this line
            var Information = {
                fname: fname,
                lname: lname,
                teloremail: teloremail
            };

            $http.post('/information', {
                fname: Information.fname,
                lname: Information.lname,
                teloremail: Information.teloremail
            }).then(function(response) {
                console.log("Success", response);
            }, function(error) {
                console.log("Error", error);
            });
        }
    });

</script>

</html>